<body>
    
    <h1>Blog</h1>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam molestiae quibusdam illo alias fuga odit harum voluptatum amet explicabo repudiandae adipisci distinctio voluptates, quidem, eos tenetur nihil nam ipsam laboriosam?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam molestiae quibusdam illo alias fuga odit harum voluptatum amet explicabo repudiandae adipisci distinctio voluptates, quidem, eos tenetur nihil nam ipsam laboriosam?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam molestiae quibusdam illo alias fuga odit harum voluptatum amet explicabo repudiandae adipisci distinctio voluptates, quidem, eos tenetur nihil nam ipsam laboriosam?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam molestiae quibusdam illo alias fuga odit harum voluptatum amet explicabo repudiandae adipisci distinctio voluptates, quidem, eos tenetur nihil nam ipsam laboriosam?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam molestiae quibusdam illo alias fuga odit harum voluptatum amet explicabo repudiandae adipisci distinctio voluptates, quidem, eos tenetur nihil nam ipsam laboriosam?
    </div>

</body>