body {
    background-color: #f0e9f8;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 80px;
    padding-bottom: 20px;
}

h1 {
    color: blueviolet;
    padding-bottom: 25px;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contact-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.contact-form input, .contact-form textarea, .contact-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
.contact-form button:hover {
    background-color: #0056b3;
}
.info {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}