<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>

    <div class="luttons">
            <div style="margin-left: 10vh; margin-right: 10vh;">
                <h3 style="color: blueviolet;">Ensemble. Luttons.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi itaque inventore beatae accusamus porro vel voluptatem eveniet ratione nemo suscipit doloribus alias, blanditiis culpa ea mollitia totam, ipsum sapiente veniam.</p>
                <button class="protectButton" routerLink="/contact">Comment se protéger</button>
            </div>
            <div style="margin-left: 10vh; margin-right: 10vh;">
                <img style="width: 500px;" src="assets/illustration.png"/>
            </div>
    </div>

    <div>
        <div style="display: flex; justify-content: center; margin-top: 10vh;">
            <h3 style="color: blueviolet;">Symptômes du Coronavirus</h3>
        </div>
        <div class="symptomes-text">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et delectus aspernatur sed incidunt nam natus reiciendis dolor, reprehenderit necessitatibus magni expedita officiis itaque perspiciatis suscipit eum, laudantium qui, facere aut.</p>
        </div>
        <span>
            <div class="diseases">
                <div style="padding-left: 2vh;">
                    <span class="disease">
                        <img src="assets/fever.png" style="width: 100px;"/>
                        <span style="align-self: center;">
                            <p style="font-weight: bold; color: blueviolet;">Forte Fièvre</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero unde rerum odio! Nihil, blanditiis odit</p>
                        </span>
                    </span>
                    <span class="disease">
                        <img src="assets/cough.png" style="width: 100px;"/>
                        <span style="align-self: center; margin-left: 2vh;">
                            <p style="font-weight: bold; color: blueviolet;">Forte Fièvre</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero unde rerum odio! Nihil, blanditiis odit</p>
                        </span>
                    </span>
                </div>
                <div style="padding-left: 2vh;">
                    <span class="disease">
                        <img src="assets/troath.png" style="width: 100px;"/>
                        <span style="align-self: center;">
                            <p style="font-weight: bold; color: blueviolet;">Forte Fièvre</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero unde rerum odio! Nihil, blanditiis odit</p>
                        </span>
                    </span>
                    <span class="disease">
                        <img src="assets/headache.png" style="width: 100px;"/>
                        <span style="align-self: center; margin-left: 2vh;">
                            <p style="font-weight: bold; color: blueviolet;">Forte Fièvre</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero unde rerum odio! Nihil, blanditiis odit</p>
                        </span>
                    </span>
                </div>
            </div>
        </span>
    </div>
    
</body>
</html>
